# =========================
# Dependencies
# =========================
node_modules/
.pnp
.pnp.js

# =========================
# Testing
# =========================
coverage/

# =========================
# Production builds
# =========================
dist/
build/

# =========================
# Environment variables (VERY IMPORTANT)
# =========================
.env.development.local
.env.test.local
.env.production.local

# =========================
# Security
# =========================
*.pem

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
*~
config.bat
